@model Trailer

@{
    ViewData["Title"] = "Index";
}

<div style="margin-top:150px;" class="container w-100">
   
        <iframe style="width: 100%; height:550px;" src="@Model.Title"
            title="YouTube video player" frameborder="0"
            allowfullscreen></iframe>
   

</div>








