@model Trailer
@{
    ViewData["Title"] = "Detail";
}

<table class="table table-secondary mt-5">
    <thead>
        <tr>

            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Movie Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>

            <td>@Model.Id</td>
            <td>@Model.Title</td>
            <td>@Model.Movie.Name</td>
        </tr>
</table>

