@model AccountVM
@{
    ViewData["Title"] = "ForgotPassword";
}

<div class="container mt-4">
    <h2 style="color:white;">Forgot password section</h2>
    <form method="post">
        <label asp-for="AppUser.Email" style="color:white;" >Please enter your email</label><br />
        <input asp-for="AppUser.Email" class="form-control w-25" />
        <button type="submit" class="btn btn-outline-primary mt-2">Send</button>
    </form>

</div>

