@model AccountVM
@{
    ViewData["Title"] = "ResetPassword";
}
<div class="container " style="margin-top:150px;">
    <h2 style="color:white;">Reset Password </h2>
    <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
    <form method="post">
        <div>
            <label style="color:white;">Please enter your new password</label><br />
            <input asp-for="Password" class="form-control" />
        </div>
        <div class="d-none">
            <input asp-for="Token" class="form-control" />
            <input asp-for="AppUser.Email" class="form-control" />
        </div>
        <div>
            <label style="color:white;">Confirm your new password</label><br />
            <input asp-for="ConfirmPassword" class="form-control" />
        </div>
        <button type="submit" class="btn btn-outline-success mt-5">Reset Password</button>
    </form>

</div>

