@model Year
@{
    ViewData["Title"] = "Create";
}
<div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
<form method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input asp-for="Name" class="form-control" id="name">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div>
        <select class="form-control mt-2" style="cursor:pointer;" asp-for="FilterId" asp-items="@(new SelectList(ViewBag.Filters,"Id","Name"))"></select> <br />
        <span class="text-danger" asp-validation-for="FilterId"></span>
    </div>
    <div>
        <button type="submit" class="btn btn-dark mt-3">Create</button>
    </div>
</form>